<!--If the user is not signed in render this -->

<% if !user_signed_in? %>

    <!-- Not Signed In -->
    <style>
        body {
            /*Transparent film on BG to appear darker*/
            background: linear-gradient( 
                rgba(0,0,0, 0.3),
                rgba(0,0,0, 0.3)
            ), url("/squamish.jpg") no-repeat center center fixed;
            
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        h1 {
            color: white;
            font-weight: bold;
            color: white;
        }
        
        p {
            color: dark grey;
            font-weight: bold;
        }
        
        .container-index {
            margin-right: 15%;
            margin-left: 15%;
        }
        
        .text {
            color: white;
            font-size: 150%;
        }
        
        .footer-links {
            text-align: center;
            color: white;
            margin-top: 20%;
            font-size: 90%;
        }
        
        .log-in {
            float: right;
            height: 100px;
            width: 300px;
            margin-top: 10%;
        }
        .sign-up {
            float: right;
            height: 200px;
            width: 300px;
        }
        .form-index {
            margin-left: 10px;
            margin-right: 10px;
        }
    </style>
    
    <div class="container-index row">
        <div class="col-sm-6">
             <h1>Welcome to Hootie!</h1>
            <p class="text">See what's happening in the world right now. From breaking news and entertainment to sports and politics, get the full story with all the live commentary.</p>
        </div>
        
       <div class="col-sm-6">
             <div class="log-in panel">
                   <%= form_for(:user, :url => session_path(:user)) do |f| %>
                      <div class="form-index" style="margin-top:10px;"><%= f.text_field :email, placeholder: "Username", :size => 38 %></div>
                      <div class=" row form-index"><%= f.password_field :password, placeholder: "Password", :size => 29 %> <%= f.submit 'Sign in' %></div>
                      <div class="row" style="font-size: 12px; margin-left: 10px; margin-right: 10px; margin-top: 10px;">
                      <div class="col-sm-6" style="text-align: center; "><%= f.check_box :remember_me %><%= f.label :remember_me %></div>
                      <div class="col-sm-6" style="text-align: center; "><%= link_to "Forgot password?", new_password_path(:user) %></div>
                      </div>
                    <% end %>
             </div>
             <div class="sign-up panel">
                     <p style="text-align: center; margin-top: 10px;">New to Hootie? Sign up</p>
                     <%= form_for(:user, url: registration_path(:user)) do |f| %>
                     <div class="form-index"><%= f.text_field :username, autofocus: true, placeholder: "Full Name", :size => 38  %>
                     <%= f.email_field :email , placeholder: "Email", :size => 38 %>
                     <% if @minimum_password_length %>
                     <em>(<%= @minimum_password_length %> characters minimum)</em>
                     <% end %>
                     <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :size => 38 %>
                     <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", :size => 38 %></div>
                     <div class="row" style="margin-right: 2px;">
                         <div class="col-sm-12" style="margin-top: 10px; margin-bottom: 10px; text-align: right"><%= f.submit "Sign up for Hootie" %></div>
                     </div>
                     <% end %>﻿
             </div>
       </div>
       
       <div class="col-sm-12">
          <p class="footer-links">About  Help  Blog  Status  Terms  Privacy  Brand  Advertise  Businesses  Media  Developers  Directory  © 2017 Hootie</p>
       </div>

    </div>
    
<% else %>
    
    <!-- Signed in -->
    <script>document.location = '/home'</script>
    
<% end %>