<style>
        body {
            /*Transparent film on BG to appear darker*/
            background: linear-gradient( 
                rgba(0,0,0, 0.3),
                rgba(0,0,0, 0.3)
            ), url("/squamish.jpg") no-repeat center center fixed;
            
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .enter {
            height: 300px;
            width: 300px;
            border-radius: 2%;
            text-align: center;
            background: white;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%) }
        }
</style>

<div class="enter">
  <h2>Log in to Hootie</h2>
  <br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Email", :size => 35  %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :size => 35%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  <br>
  <div class="actions">
    <%= f.submit "Log into Hootie" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>

</div>
